# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
stamp-h.in
stamp-h
libtool
intl
conftest.c
conftest
configure
config.status
config.log
config.h
config.h.in
config.cache
aclocal.m4
Makefile.in
Makefile
*.tar.gz
